body { 
    margin: 0;
    overflow-x: hidden;
}

@font-face {
	font-family: 'DrukTextWideCyr-Medium';
	src: url('fonts/druktextwidecyr-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/druktextwidecyr-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/druktextwidecyr-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/druktextwidecyr-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/druktextwidecyr-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/druktextwidecyr-medium.svg#druktextwidecyr-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

.hero-page { 
    position: relative;
    height: 100vh;
}
.hero-page video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Прозрачность 50% */
    z-index: 1;
}


header { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav { 
    display: flex;
    gap: 2px;

}

.page-description { 
    font-family: 'DrukTextWideCyr-Medium';
    font-weight: 500;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.content {
    position: absolute;
    top: 90%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}

/* section categiries */

.categories-section { 
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 120px 0;
}

.categories-grid { 
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.header-categories { 
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
.slider-categories { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slider-categories li { 
    list-style-type: none;
    font-family: 'DrukTextWideCyr-Medium';
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
li a { 
    color: black;
    margin: 0;
    text-decoration: none;
}

ul { 
    display: grid;
    gap: 32px;
    padding: 0;
    margin: 0;
}
.focus-content { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

/* featured-products */

.featured-products { 
    display: grid;
    padding: 120px 0;
    gap: 64px;
    justify-content: center;
    align-items: center;  
}
.description-content {
   display: grid;
   gap: 64px;

}
/* description-content */
.section-header { 
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-align: center;

}

.section-subtext { 
    font-family: 'DrukTextWideCyr-Medium';
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-align: center;

}
/* slider-products */
.slider-products { 
    display: flex;
    gap: 140px;
}

.second-slider { 
    display: flex;
    gap: 20px;
}
.card-product { 
    display: grid;
    gap: 10px;
}

.description-card { 
    display: grid;
    gap: 15px;
}
.title-product { 
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-transform: uppercase;

}
.price-product { 
    font-family: 'DrukTextWideCyr-Medium';
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;;
    text-transform: uppercase;

}
/* new-product-page */

.new-product-page { 
    display: grid;
    padding: 120px 0;
    gap: 64px;
    justify-content: center;
    align-items: center; 
}

/* product-gallery */

.product-gallery { 
    max-width: 1420px;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    gap: 20px;
}

.about-content { 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
}
.about-new-product { 
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    text-transform: uppercase;
}

.description-new-product { 
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    text-transform: uppercase;

}

/* footer */

footer { 
    display: grid;
    justify-items: center;
    background-color: #000000;
    height: 18.75rem;
    padding: 40px 0;
}
.test { 
    max-width: 1420px;
    display: grid;
    grid-template-columns: 5fr 2fr 2fr;
    gap: 64px;
}
.footer-logo { 
    height: 3.938rem;
    display: flex;
}

.footer-description { 
    font-family: 'DrukTextWideCyr-Medium';
    font-weight: 500;
    font-style: Medium;
    font-size: 38.65px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.footer-info { 
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;

}
footer a { 
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;

}

.footer-content { 
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact { 
    display: grid;
    gap: 10px;
}